<div id="page-wrapper">
    <div class="header">
        <h1 class="page-header">
            Trang chủ
        </h1>
        <!-- <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Dashboard</a></li>
            <li class="active">Data</li>
        </ol> -->

    </div>
    <div id="page-inner">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">

                <div class="card horizontal cardIcon waves-effect waves-dark">
                    <div class="card-image red">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h3>{{ numAccount }}</h3>
                        </div>
                        <div class="card-action">
                            <strong> Lượng nguời dùng hệ thống</strong>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">

                <div class="card horizontal cardIcon waves-effect waves-dark">
                    <div class="card-image orange">
                        <i class="fa fa-bell-o fa-5x" aria-hidden="true"></i>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h3>{{ numPostWaitCensor }}</h3>
                        </div>
                        <div class="card-action">
                            <strong> Lượng bài đăng chờ phê duyệt</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">

                <div class="card horizontal cardIcon waves-effect waves-dark">
                    <div class="card-image blue">
                        <i class="fa fa-eye fa-5x" aria-hidden="true"></i>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h3>{{ numPostShow }}</h3>
                        </div>
                        <div class="card-action">
                            <strong> Lượng bài đăng đang hiển thị</strong>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">

                <div class="card horizontal cardIcon waves-effect waves-dark">
                    <div class="card-image">
                        <i class="fa fa-table fa-5x"></i>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h3>{{ numPosition }}</h3>
                        </div>
                        <div class="card-action">
                            <strong> Lượng vị trí công việc</strong>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-image">
                        <div id="morris-area-chart"></div>
                    </div>
                    <div class="card-action">
                        <b>Area Chart</b>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- /. ROW  -->
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->