<div id="page-wrapper">
  <div class="header">
    <h1 class="page-header">
      Quản lý bài đăng đã phê duyệt
    </h1>

  </div>

  <div id="page-inner">

    <div class="row">
      <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="card">
          <div class="card-action">
            Danh sách bài đăng đã phê duyệt
          </div>
          <div class="card-content row">
            <div class="col-sm-6">
              <div class="input-field">
                <input id="search" type="text" [(ngModel)]="filter" name="filter" class="form-control input-sm">
                <label for="search">Nhập tên thông tin cần tìm kiếm</label>
              </div>
              <div style="clear:both"></div>
            </div>
           
            <div class="table-responsive col-sm-12">
              <table class="table table-striped table-bordered table-hover" id="dataTables-users">
                <thead>
                  <tr>
                    <th class="text-center" style="cursor: pointer;" (click)="sort('employerName')">Tên công ty</th>
                    <th class="text-center" style="cursor: pointer;" (click)="sort('jobTitle')">Tiêu đề bài đăng</th>
                    <th class="text-center" style="cursor: pointer;" (click)="sort('timeCreate')">Ngày tạo</th>
                    <th class="text-center" style="cursor: pointer;" (click)="sort('jobPosition')">Vị trí tuyển</th>
                    <th class="text-center">Thao tác</th>
                  </tr>
                </thead>
                <tbody>
                  <tr [class]="(i%2==0) ? 'odd gradeX' : 'even gradeX'"
                    *ngFor="let jobPost of jobPosts | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                    <td>{{ jobPost?.employerResumeDTO?.employerName }}</td>
                    <td>{{ jobPost?.jobTitle }}</td>
                    <td class="center">{{ jobPost?.createPostTime | date: "dd/MM/yyyy" }}</td>
                    <td>
                      {{ jobPost?.jobPositionEntity?.jobPositionName }}
                    </td>
                    <td class="center section-action">
                      <i class="fa fa-eye text-info" title="xem chi tiết" aria-hidden="true" (click)="viewDetail(jobPost)"></i>
                      <!--<i class="fa fa-pencil-square-o text-primary" title="chỉnh sửa" aria-hidden="true"></i>
                      <i class="fa fa-unlock text-warning" title="khóa tài khoản" aria-hidden="true"></i> -->
                      <!-- <i class="fa fa-trash-o text-danger" (click)="deleteAccount(account?.accountId)" title="xóa tài khoản" aria-hidden="true"></i> -->
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-6 text-left">
              <p>Tổng số bản ghi: {{ jobPosts?.length }}</p>
            </div>
            <div class="col-sm-6" style="text-align: right;">
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
          </div>
        </div>
        <!--End Advanced Tables -->
      </div>
    </div>
    <!-- /. ROW  -->
  </div>
  <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
