<div id="page-wrapper">
    <div class="header">
        <h1 class="page-header">
            Đổi mật khẩu
        </h1>
        <!-- <ol class="breadcrumb">
            <li><a [routerLink]="['/profile']">Quản lý profile</a></li>
            <li><a class="active">Đổi mật khẩu</a></li>
        </ol> -->

    </div>
    <div id="page-inner">
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-md-12">
                <!-- Form Elements -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-content">
                                <form>

                                    <div class="input-field">
                                        <input id="last_name" type="text" class="validate">
                                        <label for="last_name" class="">Nhập mật khẩu cũ</label>
                                    </div>

                                    <div class="input-field">
                                        <input id="last_name" type="text" class="validate">
                                        <label for="last_name" class="">Nhập mật khẩu mới</label>
                                    </div>

                                    <div class="input-field">
                                        <input id="last_name" type="text" class="validate">
                                        <label for="last_name" class="">Xác nhận lại mật khẩu mới</label>
                                    </div>

                                    <!-- <div class="form-group">
                                        <label for="confirmPassword">Confirm Password</label>
                                        <input id="confirmPassword" type="text" 
                                           lass="form-control"/>
                                        <div *ngIf="profileFormControl.confirmPassword.errors 
                                            && (profileFormControl.confirmPassword.touched || profileFormControl.confirmPassword.dirty)" 
                                            class="text-danger">
                                            <div *ngIf="profileFormControl.confirmPassword.errors.required" class="text-danger">
                                                Confirm Password is required.
                                            </div>
                                            <div *ngIf="profileFormControl.confirmPassword.errors.minlength">
                                                Confirm Password must be at least 6 characters long.
                                            </div>
                                            <div *ngIf="profileFormControl.confirmPassword.errors.containAllBlankCharacter">
                                                Confirm Password must not be blank character.
                                            </div>
                                            <div *ngIf="profileFormControl.confirmPassword.errors.maxlength">
                                                Confirm Password must be at less than 50 characters long.
                                            </div>
                                            <div *ngIf="profileFormControl.confirmPassword.errors.mustMatch">
                                                Confirm Password does not match.
                                            </div>
                                        </div>
                                    </div> -->
                                    <button class="btn btn-warning">Đổi mật khẩu</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Form Elements -->
            </div>
        </div>
        <!-- /. ROW  -->

    </div>
</div>
