<div id="page-wrapper">
    <div class="header">
        <h1 class="page-header">
            Đổi mật khẩu
        </h1>
        <!-- <ol class="breadcrumb">
            <li><a [routerLink]="['/profile']">Quản lý profile</a></li>
            <li><a class="active">Đổi mật khẩu</a></li>
        </ol> -->

    </div>
    <div id="page-inner">
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-md-12">
                <!-- Form Elements -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-content">
                                <form [formGroup]="form">

                                    <div class="input-field">
                                        <input id="oldPassword" formControlName="oldPassword" type="password" class="validate">
                                        <label for="oldPassword" class="">Nhập mật khẩu cũ</label>
                                        <div *ngIf="formControl.oldPassword?.errors 
                                            && (formControl.oldPassword?.touched || formControl.oldPassword?.dirty)">
                                            <div *ngIf="formControl.oldPassword.errors?.required"  class="text-validate">
                                                Bạn vui lòng nhập vào mật khẩu cũ có dạng chữ cái, số và ký tự đặc biệt.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="input-field">
                                        <input id="newPassword" formControlName="newPassword" type="password" class="validate">
                                        <label for="newPassword" class="">Nhập mật khẩu mới</label>
                                        <div *ngIf="formControl.newPassword?.errors 
                                            && (formControl.newPassword?.touched || formControl.newPassword?.dirty)">
                                            <div *ngIf="formControl.newPassword.errors?.required"  class="text-validate">
                                                Bạn vui lòng nhập vào mật khẩu mới có dạng chữ cái, số và ký tự đặc biệt.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="input-field">
                                        <input id="confirmPassword" formControlName="confirmPassword" type="password" class="validate">
                                        <label for="confirmPassword" class="">Xác nhận lại mật khẩu mới</label>
                                        <div *ngIf="formControl.confirmPassword?.errors 
                                            && (formControl.confirmPassword?.touched || formControl.confirmPassword?.dirty)">
                                            <div *ngIf="formControl.confirmPassword.errors?.required"  class="text-validate">
                                                Bạn vui lòng nhập vào mật khẩu mới có dạng chữ cái, số và ký tự đặc biệt.
                                            </div>
                                            <div *ngIf="formControl.confirmPassword.errors?.mustMatch"  class="text-validate">
                                                Mật khẩu không khớp. Bạn vui lòng kiểm tra lại.
                                            </div>
                                        </div>
                                    </div>

                                    <button class="btn btn-warning"  [disabled]="form.invalid" (click)="save()" >Đổi mật khẩu</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Form Elements -->
            </div>
        </div>
        <!-- /. ROW  -->

    </div>
</div>
