.title-censor label {
    font-style: italic;
    color: orange;
}

.title-censor .title {
    font-size: 20px;
    color: #30cc7b;
}

.title-item {
    font-weight: bold;
    font-style: italic;
    color: #777;
}