<div id="page-wrapper">
  <div class="header">
    <h1 class="page-header">
      Quản lý phê duyệt bài đăng
    </h1>
    <!-- <ol class="breadcrumb">
        <li><a [routerLink]="['/sale-post']">Quản lý bài đăng</a></li>
        <li><a class="active">Phê duyệt bài đăng</a></li>
      </ol> -->
  </div>
  <div id="page-inner">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-sm-12" *ngIf="jobPosts?.length == 0">
              <h2 class="text-danger">KHÔNG CÓ BÀI ĐĂNG NÀO ĐANG CHỜ PHÊ DUYỆT</h2>
            </div>

            <div class="col-sm-12" *ngFor="let jobPost of jobPosts">
              <hr>
              <div class="newpost-header">
                <div class="col-sm-7 title-censor">
                  <label>Tài khoản:&nbsp;&nbsp;</label>
                  <span class="title">{{ jobPost?.employerResumeDTO?.accountDTO?.username }}</span>
                  <br>
                  <label>Thời gian đăng:&nbsp;&nbsp;</label>
                  <span>{{ jobPost?.createPostTime | date: "dd/MM/yyyy" }}</span>
                  <br>
                  <label>Hạn nộp hồ sơ:&nbsp;&nbsp;</label>
                  <span>{{ jobPost?.expirePostTime | date: "dd/MM/yyyy" }}</span>
                </div>

                <div class="clear-fix"></div>

                <div class="col-sm-5 text-right">
                  <button type="button" class="btn btn-default" (click)="viewDetail(jobPost)">Xem chi tiết</button>
                  &nbsp;
                  <button type="button" class="btn btn-info" (click)="accept(jobPost?.jobPostId)">Phê duyệt</button>
                  &nbsp;
                  <button type="button" class="btn btn-danger" (click)="deny(jobPost?.jobPostId)">Từ chối</button>
                </div>
              </div>

              <div class="col-sm-12">
                <!--review post-->
                <div class="section-header">
                  <div class="title-apply-line">
                    <h2 class="title" style="color: #478ea2;">{{ jobPost?.jobTitle }}</h2>
                    <div class="clearfix"></div>
                  </div>
                </div>

                <div class="section-body">
                  <div class="job_description">
                    <div class="title-apply-line">
                      <h3 class="title-item">Mô tả công việc</h3>
                      <div class="clearfix"></div>
                    </div>
                    <div [id]="'job_description_'+jobPost?.jobPostId">
                      {{ viewRequirePost(jobPost) }}
                    </div>
                  </div>
                  <div class="skills_experience">
                    <h3 class="title-item">Yêu Cầu Công Việc</h3>
                    <div [id]="'skills_experience_'+jobPost?.jobPostId">
                      {{ viewRequirePost(jobPost) }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>